<template>
  <q-page class='flex flex-center'>
      <div class='character__container' v-if="character">
        <div class='character__name'>
          {{ character.name }}
        </div>
        <div class='character__id'>
          {{ character.id }}
        </div>
        <img class='character__image' :src="character.thumbnail.path + '.' + character.thumbnail.extension">
        <div class="character__series" >
          <ul>
             <h5>Series:</h5>
            <li>{{ character.series.items[0].name }}</li>
          </ul>
        </div><br>
       <div class="character__events">
          <ul>
             <h5>Eventos:</h5>
            <li>{{ character.events.items[0].name }}</li>
          </ul>
        </div>
      </div>
  </q-page>
</template>

<style>
body{
  background: rgb(17, 32, 75);
  color: white;
  text-align: center;
}
.character__image{
  width: 330px;
  height: 300px;
  border: 2px solid white;
}
.character__name{
  background-image: linear-gradient(red, orange);
  padding: 10px;
  border: 1px solid white;
}
.character__id{
  background-image: linear-gradient(green, aqua);
  border: 1px solid white;
}
li{
  list-style-type: square;
}
.character__events{
  border: 1px solid white;
  background-color: lightslategray;
  color: black;
}
.character__series{
  background-image: linear-gradient(red, blue);
  padding: 10px;
  color: white;
  border: 1px solid white;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data: () => ({
    publicApiKey: 'a538e5bf648e0c3f71723c3838c25815',
    character: null,
    search: null
  }),

  mounted () {
    const config = {
      params: {
        apikey: this.publicApiKey,
        nameStartsWith: this.search
      }
    }
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters/' + this.$route.params.id, config)
      .then((res) => {
        console.log('Respuesta obtenida', res.data)
        this.character = res.data.data.results[0]
      })
      .catch((error) => {
        console.error('Algo salio mal', error)
      })
  }
}
</script>
