<template>
  <q-page class='flex flex-center'>
    <form @submit.prevent="pedirPersonajes()">
      <q-input v-model="search" />
      <q-btn label="Search"/>
    </form>
    <form @submit.prevent="limpiar()">
       <q-btn label="Reset"/>
    </form>
    <div v-for='(character, index) in characters' :key='index' >
      <div class='character__container'>
        <div class='character__name'>
          <router-link :to='"characters/" + character.id'>{{ character.name }}</router-link>
        </div>
        <div class='character__id'>
          {{ character.id }}
        </div>
        <img class='character__image' :src=" character.thumbnail.path + '.' + character.thumbnail.extension ">
      </div>
    </div>
  </q-page>
</template>

<style>
form{
  margin: 2%;
}
body{
  background: rgb(17, 32, 75);
  color: white;
  text-align: center;
}
.character__image{
  width: 300px;
  height: 300px;
  border: 2px solid white;
}
.character__name{
  background-image: linear-gradient(red, orange);
  padding: 10px;
  border: 1px solid white;
}
.character__id{
  background-image: linear-gradient(green, aqua);
  border: 1px solid white;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data: () => ({
    publicApiKey: 'a538e5bf648e0c3f71723c3838c25815',
    characters: [],
    search: null
  }),

  methods: {
    pedirPersonajes () {
      const config = {
        params: {
          apikey: this.publicApiKey
        }
      }
      if (this.search) {
        config.params.nameStartsWith = this.search
      }
      this.$axios.get('https://gateway.marvel.com:443/v1/public/characters', config)
        .then((res) => {
          console.log('Respuesta obtenida', res.data)
          this.characters = res.data.data.results
        })
        .catch((error) => {
          console.error('Algo salio mal', error)
        })
    },
    limpiar () {
      this.search = null
      this.characters = null
    }
  },
  mounted () {
    this.pedirPersonajes()
  }
}
</script>
